.login{
position:fixed;
left:50%;
margin-left:-250px;
top:50%;
margin-top:-150px;
height:300px;
width:500px;
border:1px solid black;
}

td{
	height:75px;
	width:75px;
	border:1px solid black;
}

.date{
	position:relative;
	top:-25px;
}

.monthContainer{
	border:3px solid black;
	width:600px;
	padding-bottom:20px;
	padding-top:20px;
}

.monthTitle{
	padding-bottom:20px;
	font-size:36px;
	font-style:bold;
}

.weekContainer{
	border:3px solid black;
	width:600px;
	padding-bottom:20px;
	padding-top:20px;
}

.weekTitle{
	padding-bottom:20px;
	font-size:36px;
	font-style:bold;
}
