.login{
    position:fixed;
    left:50%;
    margin-left:-250px;
    top:50%;
    margin-top:-150px;
    height:318px;
    width:600px;
    border:1px solid black;
    background-image:url("Goddard_cropped.png");
    background-position:left top;
    background-repeat:no-repeat;
    background-color:white;
}

.body{
    /*background-image:url('http://www.lewallpaper.com/imagebank/jimmy-neutron-boy-genius.jpg');*/
    color:black;
    z-index:0;
}

.wrapper{
    background-color:white;
    z-index:1;
    height:117%;
    width:auto;
}

h2{
   margin-left:9px; 
}

td{
	height:75px;
	width:75px;
	border:1px solid black;
}

.noBorder{
   border-collapse:collapse;
} 

.noBorder td{
   height:16px;
   border:none;
   outline:none;
}

.title{
    width:100%;
    float:left;
    height:10%;
    z-index:2;
}

.cmdBox{
    width:60%;
    float:left;
    height:75%;
    z-index:2;
}

.queue{
    width:40%;
    float:left;
    height:75%;
    z-index:2;
}

.icon{
    height:100%;
    width:auto;
}

.iconBtn{
    width:99%;
    height:41%;
    border:1px solid black;
    background-color:white;
}

.iconBtn:hover{
    background-color:black;
}

.user
{
    width:90%;
    height:15%;
    border:1px solid black;
    margin:auto;
}

.timer{
    font-size: 250%;
}

