<html>
<head>
        <title>
        Goddard - Login
        </title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    
</head>
<body>
	<div id="login" class="login">
		<center>
		<br/><br/>
		<h1>Login</h1>
			<form method="post" action="/login">
			<table class="noBorder">
			    <tr>
			        <td>
			            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</b>
			        </td>
			        <td>
			            <input type="text" name="name"/>
			        </td>
			    </tr>
			    <tr>
			        <td>
			            <b>&nbsp;Password:</b>
			        </td>
			        <td>
			            <input type="password" name="password"/>
			        </td>
			    </tr>
			</table>
			<input type="submit" value="Submit">
			</form> 
			<br/><br/><br/>
			Not a member? Create an account <a href="/signup">here</a>.
		</center>
	</div>

</body>
</html>