<html>
<head>
        <title>
        MyTyme - Login
        </title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
	<div id="login" class="login">
		<center>
		<br/><br/>
		<h1>Login</h1>
			<form name="input" action="" method="get">
			Email: &nbsp &nbsp &nbsp <input type="text" name="email"><br/>
			Password: <input type="text" name="password"><br/>
			<br/>
			<input type="submit" value="Submit">
			</form> 
			<br/><br/>
			Not a member? Create an account <a href="./add/index.html">here</a>.
		</center>
	</div>
</body>
</html>